body{
    color: #ff9d1d;

}
div{
   
    background-color:lightyellow;
    width: 300px;
    border: 10px solid green;
    border-radius:10px;
    padding: 50px;
    margin: 20px, 20px ,12px, 10px;
}
p{
  color: brown;
}